$primary-color: #ff5722;
$secondary-color: #00bcd4;
$text-color: #333;
$background-color: #f9f9f9;


$font-primary: 'Arial', sans-serif;
$font-secondary: 'Georgia', serif;

$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;
